{% extends "layout.html" %}

{% block content %}

	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8" id="left-panel-container">
				<div id="map-canvas">

				</div>
			</div>

			<div class="col-sm-4" id="right-panel-container">
				<div class="choices-container">
					<div>
						<label class="item-select-label" for="hotel">Hotels</label>
						<select class="item-select" name="hotel">
							{% for hotel in hotels %}
							<option value="{{hotel.id}}">{{hotel.name}}</option>
							{% endfor %}
						</select>
						<button class="btn-add">+</button>
					</div>

					<div>
						<label class="item-select-label" for="activity">Activities</label>
						<select class="item-select" name="activity">
							{% for activity in activities %}
							<option value="{{activity.id}}">{{activity.name}}</option>
							{% endfor %}
						</select>
						<button class="btn-add">+</button>
					</div>

					<div>
						<label class="item-select-label" for="restaurant">Restaurants</label>
						<select class="item-select" name="restaurant">
							{% for restaurant in restaurants %}
							<option value="{{restaurant.id}}">{{restaurant.name}}</option>
							{% endfor %}
						</select>
						<button class="btn-add">+</button>
					</div>
				</div>


				<div id="day-name-container">
					<div class="flex-center">
						<h3>Day 2</h3>
						<button class="btn-x">x</button>
					</div>
				</div>

				<div id="picker-container">
					<div id="date-selector">
						<button class="btn-date">1</button>
						<button class="btn-date">2</button>
						<button class="btn-date">3</button>
						<button class="btn-date">+</button>
					</div>

					<div id="hotel-itin" class="itinerary-container">
						<div class="row">
							<div class="col-xs-12">
								<h5>My Hotel</h5>
							</div>
							<div class="col-xs-12">
								<ul>

									<li>
										<div class="col-xs-9">
											<h6>Some Hotel</h6>
										</div>
										<div class="col-xs-2">
											<button class="btn-x">x</button>
										</div>
									</li>


								</ul>
							</div>
						</div>
					</div>

					<div class="itinerary-container">
						<div class="row">
							<div class="col-xs-12">
								<h5>My Restaurants</h5>
							</div>
							<div class="col-xs-12">
								<ul>
									<li>
										<div class="col-xs-9">
											<h6>Cafe Algiers</h6>
										</div>
										<div class="col-xs-2">
											<button class="btn-x">x</button>
										</div>
									</li>

									<li>
										<div class="col-xs-9">
											<h6>Cuju Bar</h6>
										</div>
										<div class="col-xs-2">
											<button class="btn-x">x</button>
										</div>
									</li>

									<li>
										<div class="col-xs-9">
											<h6>Red Rooster</h6>
										</div>
										<div class="col-xs-2">
											<button class="btn-x">x</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="itinerary-container">
						<div class="row">
							<div class="col-xs-12">
								<h5>My Activities</h5>
							</div>
							<div class="col-xs-12">
								<ul>
									<li>
										<div class="col-xs-9">
											<h6>Attack on Titan</h6>
										</div>
										<div class="col-xs-2">
											<button class="btn-x">x</button>
										</div>
									</li>

									<li>
										<div class="col-xs-9">
											<h6>Running of the bulls</h6>
										</div>
										<div class="col-xs-2">
											<button class="btn-x">x</button>
										</div>
									</li>
								</ul>

							</div>
						</div>
					</div>


				</div>

			</div>
		</div>
	</div>

{% endblock %}
