<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Tripplanner{% endblock %}</title>
    <link href="stylesheets/styles.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Trip Planner</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </div>
    </nav>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB4AjrlLP2QT0e3IVqu5JR9FMVl3HOY98&sensor=true"></script>

    {% block content %}{% endblock %}


  </body>

</html>
