body {
  font-family: Arial; }

button:focus {
  outline: 0; }

#sup {
  margin: 0; }

.item-select {
  width: 22em; }

.choices-container {
  background-color: bisque;
  padding: 1em;
  border-radius: 1em;
  margin-top: 2em; }

.item-select-label {
  display: block; }

.map-container {
  background-color: cornflowerblue;
  height: 500px; }

.btn-add {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  border: none;
  background-color: coral;
  color: white; }

.btn-x {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  border: none;
  background-color: red;
  color: white; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.btn-date {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  border: 2px solid darkblue;
  background-color: lightslategray; }

#date-selector {
  background-color: lightslategray;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px 10px 0px 0px; }
  #date-selector button {
    color: darkblue; }

#my-nav {
  margin-bottom: 0;
  background-color: lightslategray; }
  #my-nav a {
    color: darkblue; }

#day-name-container {
  margin-top: 2em; }
  #day-name-container h3 {
    margin: 0;
    padding-right: 10px; }

#hotel-itin {
  padding-top: 10px; }

.itinerary-container {
  background-color: bisque; }
  .itinerary-container ul {
    list-style: none; }
  .itinerary-container h5, .itinerary-container h6 {
    margin: 0; }
  .itinerary-container h5 {
    margin-left: 15px;
    margin-bottom: 10px; }
  .itinerary-container li {
    height: 30px; }

#right-panel-container {
  background-color: lightgray;
  height: calc(100vh - 50px); }

#left-panel-container {
  padding-right: 0; }
