.module {
  background: #ff6666;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  border-radius: 15px; }

#map-canvas {
  height: 650px; }

.col-lg-8 {
  width: 65%; }

.col-lg-4 {
  width: 32%; }

.dropdown {
  display: block; }

#dayTitle {
  text-align: center; }

.options button {
  float: right; }

.options .dropdown {
  padding-top: 20px; }

.options label {
  display: block; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul button {
    display: inline; }

.planner {
  margin-top: 50px; }

.planner .chosen button {
  float: right; }

.chosenHotels {
  vertical-align: text-middle; }
