body {
	font-family: Arial;
}

button:focus {
	outline: 0;
}

#sup {
	margin: 0;
}

.item-select {
	width: 22em;
}

.choices-container {
	background-color: bisque;
	padding: 1em;
	border-radius: 1em;
	margin-top: 2em;
}

.item-select-label {
	display: block;
}


#map-container {
	height: 500px;
}

.btn-add {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	border: none;
	background-color: coral;
	color: white;
}

.btn-x {
	height: 25px;
	width: 25px;
	border-radius: 25px;
	border: none;
	background-color: red;
	color: white;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-date {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	border: 2px solid darkblue;
	background-color: lightslategray;
}

#date-selector {
	background-color: lightslategray;
	padding: 10px;
	margin-top: 10px;
	border-radius: 10px 10px 0px 0px;

	button {
		color: darkblue;
	}
}

#my-nav {
	margin-bottom: 0;
	background-color: lightslategray;

	a {
		color: darkblue;
	}
}

#day-name-container {

	h3 {
		margin: 0;
		padding-right: 10px;
	};


	margin-top: 2em;
}

#hotel-itin {
	padding-top: 10px;
}

.itinerary-container {
	background-color: bisque;

	ul {
		list-style: none;
	}

	h5, h6 {
		margin: 0;
	}

	h5 {
		margin-left: 15px;
		margin-bottom: 10px;
	}

	li {
		height: 30px;
	}
}


#right-panel-container {
	background-color: lightgray;
	height: calc(100vh - 50px);
}

#left-panel-container {
	padding-right: 0;
}