.module {
  background: #ff6666;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  border-radius: 15px;
}

.col-lg-8 {
  width: 65%;
}

.col-lg-4 {
  width: 32%;
}

.content {

}

.dropdown {
  display: block;
}

#dayTitle {
  text-align: center;
}

.options {

  button {
    float: right;
  }

  .dropdown {
    padding-top: 20px;
  }

  label {
    display: block;
  }

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  button {
    display: inline;
  }
}

.planner {
  margin-top: 50px;
}

.planner {

  .chosen {

    button {
      float: right;
    }

  }

}

.chosenHotels {
  vertical-align: text-middle;
}

// #select1 {
//   display: block;
// }


